* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 200vh;
    background: url('./assets/background.jpg');
    background-size: cover;
}

.container-photos, .container-carta {
    display: flex;
    justify-content: center;
}

.container-carta {
    align-items: center;
}

.container-photos {
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 10px;
}

.box-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

h1 {
    color: #fff;
    width: auto;
    background-color: #000000b0;
    text-align: center;
    font-style: italic;
    
}

.box-photos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.polaroid-box {
    width: 300px;
    height: 350px;
    background: white;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 15px;
}

.polaroid-photo {
    width: 270px;
    height: 250px;
    background: black;
}

@media (max-width: 1620px) {
    .polaroid-box {
        width: 200px;
        height: 250px;
    }

    .polaroid-photo {
        width: 170px;
        height: 150px;
    }

    .container-carta img {
        width: 500px;
    }
}

@media (max-width: 1120px) {
    .container-carta {
        flex-direction: column;
    }
}

@media (max-width: 659px) {
    .box-text {
        order: 1;
    }

    .box-photos {
        order: 2;
    }
}

@media (max-width: 550px) {
    .container-carta img {
        width: 320px;
    }

    .box-photos {
        margin: 0;
    }
}

@media (max-width: 360px) {
    .box-text h1 {
        font-size: 28px;
    }
}